Repository ManuelLerchner/MolSim-WS23-24, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, dependencies, repo, io, simulation, physics, particles

.github/labeler.yml:

tests:
  - tests/**/*

dependencies:
  - libs/**/*

repo:
  - .github/**/*
  - '*'

io:
  - src/io/**/*

simulation:
  - src/simulation/**/*

physics:
  - src/physics/**/*

particles:
  - src/particles/**/*

fix thermostat
  input/nano_scale_flow/nano_scale_flow.xml
  src/integration/methods/VerletFunctor.cpp
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/containers/directsum/DirectSumContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/boundaries/PeriodicBoundaryType.cpp
  src/particles/containers/linkedcells/boundaries/ReflectiveBoundaryType.cpp
  src/physics/thermostats/absolute_thermostat/AbsoluteThermostat.cpp
  src/physics/thermostats/relative_thermostat/RelativeThermostat.cpp
  src/physics/thermostats/relative_thermostat/RelativeThermostat.h
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.cpp
  src/simulation/interceptors/velocity_profile/VelocityProfileInterceptor.cpp
  src/utils/MaxwellBoltzmannDistribution.cpp
Labels: simulation, physics, particles

Update GitHub workflows
  .github/workflows/clang-format.yml
  .github/workflows/deploy-pages.yml
Labels: repo

profile
  benchmarks/profiles/profile_task4.txt
Labels: none

profile...
  benchmarks/profiles/profile_task4.txt
Labels: none

latest values
  input/nano_scale_flow/nano_scale_flow.xml
  src/utils/MaxwellBoltzmannDistribution.cpp
Labels: none

add first video of week 5
  sheet05/data/nano_flow.pvsm
Labels: none

Update deploy-pages.yml
  .github/workflows/deploy-pages.yml
Labels: repo

presentation pdf
  sheet04/submission/presentation_sheet_4.pdf
Labels: none

report + job data
  sheet04/data/Contest_job_output.txt
  sheet04/data/Task4_job_output.txt
  sheet04/submission/README.md
Labels: none

add obstacles
  input/nano_scale_flow/nano_scale_flow_obstacle.xml
  src/simulation/SimulationParams.cpp
Labels: simulation

add more to readme
  html-renderer/html_templates.py
  sheet04/submission/README.md
Labels: none

small report fixes
  sheet04/data/Contest_job_output1.txt
Labels: none

Some changes to readme
  sheet04/submission/README.md
Labels: none

report additions
  sheet04/data/Contest1_job_nooptimization.txt
  sheet04/data/Contest1_job_optimized.txt
  sheet04/submission/README.md
Labels: none

final presentation
  sheet04/submission/presentation_sheet_4.pdf
Labels: none

Remove time in equals operator
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/boundaries/OutflowBoundaryType.cpp
Labels: particles

Moving some files, adjust readme
  sheet04/submission/Contest1_job_nooptimization.txt
  sheet04/submission/Contest1_job_optimized.txt
  sheet04/submission/README.md
  sheet04/submission/Task4_job_output.txt
  sheet04/submission/profile_contest1.txt
  sheet04/submission/profile_task4.txt
Labels: none

update readme
  sheet04/submission/README.md
Labels: none

final report
  sheet04/submission/README.md
Labels: none

final report
  sheet04/submission/README.md
Labels: none

final report
  sheet04/submission/README.md
Labels: none

Update media wall template and video controls
  html-renderer/html_templates.py
  html-renderer/render_to_html.py
Labels: none

Changed default 2dRect benchmark to use xml file and removed performance test cli option (simply always log csv file at the end, no performance overhead during simulation)
  benchmarks/2DParticleRect/2DParticleRect.cpp
  benchmarks/2DParticleRect/BenchmarkRectFrame.xml
  benchmarks/2D_task4.cpp
  benchmarks/CMakeLists.txt
  benchmarks/FileLoader.h
  benchmarks/contest1.cpp
  benchmarks/profiles/profile_task4.txt
  benchmarks/simulation_schema.xsd
  src/MolSim.cpp
  src/io/cli/CLIParams.h
  src/io/cli/CLIParser.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/csv/CSVWriter.cpp
  src/io/output/csv/CSVWriter.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationOverview.cpp
  src/simulation/SimulationOverview.h
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.h
  tests/data/FileLoader.h
  tests/simulation/SimulationUtils.h
Labels: tests, io, simulation

Update CSVWriter include path in VelocityProfileInterceptor.h
  src/simulation/interceptors/velocity_profile/VelocityProfileInterceptor.h
Labels: simulation

Update VelocityProfileInterceptor.cpp
  src/simulation/interceptors/velocity_profile/VelocityProfileInterceptor.cpp
Labels: simulation

begin work
  input/crystallization_argon/cooling_argon.xml
  input/crystallization_argon/subsimulations/base_fluid.xml
  input/crystallization_argon/supercooling_argon.xml
  src/io/xml_schemas/checkpoint/checkpoint_schema.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.h
  src/io/xml_schemas/checkpoint/checkpoint_schema.xsd
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/InternalToXSDTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/particles/Particle.h
  src/physics/pairwiseforces/SmoothedLennardJonesForce.cpp
  src/physics/pairwiseforces/SmoothedLennardJonesForce.h
  src/simulation/Simulation.h
  src/simulation/SimulationOverview.cpp
  src/simulation/interceptors/diffusion_function/DiffusionFunctionInterceptor.cpp
  src/simulation/interceptors/diffusion_function/DiffusionFunctionInterceptor.h
  src/simulation/interceptors/frame_writer/FrameWriterInterceptor.cpp
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.cpp
  src/simulation/interceptors/temperature_sensor/TemperatureSensorInterceptor.cpp
  src/simulation/interceptors/temperature_sensor/TemperatureSensorInterceptor.h
  src/simulation/interceptors/thermostat/ThermostatInterceptor.cpp
  src/simulation/interceptors/thermostat/ThermostatInterceptor.h
Labels: io, simulation, physics, particles

Added some tests for softbodyspawner
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/spawners/soft_body_cuboid/SoftBodyCuboidSpawner.cpp
  src/particles/spawners/soft_body_cuboid/SoftBodyCuboidSpawner.h
  src/physics/simpleforces/HarmonicForce.cpp
  tests/particles/spawners/TestSoftBodySpawner.cpp
Labels: tests, physics, particles

fix clangformat
  src/io/xml_schemas/checkpoint/checkpoint_schema.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.h
Labels: io, simulation

Update delta_t value in supercooling_argon.xml
  input/crystallization_argon/supercooling_argon.xml
Labels: none

Add epsilon and sigma values to Particle class
  tests/data/input/ChktpExample.chkpt
  tests/io/filereaders/TestChkptReader.cpp
  tests/io/filewriters/TestChkptWriter.cpp
Labels: tests

Add 2DTask4 and contest1 benchmarks
  benchmarks/2DTask4/2D_task4.cpp
  benchmarks/contests/contest1.cpp
Labels: none

Add simulation process overview and input file format details
  README.md
  docs/InputFileFormats.md
  docs/images/simulation_overview.svg
Labels: repo

fix svg color in readme
  docs/images/simulation_overview.svg
Labels: none

Update readme
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

fix supercooling_argon simulation params
  input/crystallization_argon/supercooling_argon.xml
Labels: none

Add script to load CoolMuc modules
  load_CoolMucModules.sh
Labels: repo

videos for sheet 5
  sheet05/data/rubber_cubes.pvsm
Labels: none

Added targeted forces, membrane simulation file
  benchmarks/2D_task4.cpp
  benchmarks/contest1.cpp
  input/membrane/membrane.xml
  input/membrane/membrane_cube.xml
  src/integration/IntegrationFunctor.h
  src/integration/methods/VerletFunctor.cpp
  src/integration/methods/VerletFunctor.h
  src/io/input/xml/XMLFileReader.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/containers/ParticleContainer.h
  src/particles/containers/directsum/DirectSumContainer.cpp
  src/particles/containers/directsum/DirectSumContainer.h
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
  src/particles/spawners/soft_body_cuboid/SoftBodyCuboidSpawner.cpp
  src/physics/pairwiseforces/LennardJonesRepulsiveForce.cpp
  src/physics/pairwiseforces/LennardJonesRepulsiveForce.h
  src/physics/simpleforces/HarmonicForce.cpp
  src/physics/targettedforces/TargettedForceSource.h
  src/physics/targettedforces/TargettedTemporaryConstantForce.cpp
  src/physics/targettedforces/TargettedTemporaryConstantForce.h
  src/simulation/Simulation.cpp
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  tests/io/filewriters/TestChkptWriter.cpp
  tests/io/filewriters/TestVTKWriter.cpp
  tests/io/filewriters/TestXYZWriter.cpp
  tests/particles/spawners/TestSoftBodySpawner.cpp
  tests/simulation/SimulationUtils.h
Labels: tests, io, simulation, physics, particles

Fix typo in svg
  docs/images/simulation_overview.svg
Labels: none
