Repository ManuelLerchner/MolSim-WS23-24, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, dependencies, repo, io, simulation, physics, particles

Add ManuelExecutionPC.xlsx and BenchmarkManuelPC.png
  sheet03/data/ManuelExecutionPC.xlsx
  sheet03/submission/BenchmarkManuelPC.png
Labels: none

Video Task 2 and Benchmarks
  sheet03/data/TobiasExecutionPC.xlsx
Labels: none

Simulation with reflective boundaries 3D
  sheet03/data/reflectiveContainerAnimation.pvsm
Labels: none

add html renderer
  html-renderer/html_templates.py
  html-renderer/render_to_html.py
Labels: none

move sheet03 content into submission folder
  html-renderer/html_templates.py
  sheet03/submission/BenchmarkAMD.png
  sheet03/submission/BenchmarkIntel.png
Labels: none

Add GitHub Pages deployment workflow
  .github/workflows/deploy-pages.yml
Labels: repo

sort files
  .gitignore
  html-renderer/render_to_html.py
Labels: repo

add animated aquarium box
  .gitignore
Labels: repo

report first ready version
  sheet03/submission/ReadMe.md
Labels: none

report first ready version
  sheet03/submission/PRESENTATION_TEMPLATE.pptx
Labels: none

clangformat ...
  src/io/cli/CLIParser.cpp
  src/io/logger/Logger.cpp
  src/io/logger/Logger.h
Labels: io

clangformat ...
  src/MolSim.cpp
  src/io/cli/CLIParser.cpp
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationParams.h
Labels: io, simulation

compiler warning
  src/simulation/Simulation.cpp
Labels: simulation

csv output for benchmark, because I did not see the benchmark directory the first time
  benchmarks/2DParticleRect/2DParticleRect.cpp
Labels: none

report update
  sheet03/data/DanielExecutionLaptop.xlsx
  sheet03/submission/ReadMe.md
Labels: none

Some changes for output + output now saved in Simulation.runSimulationPerfTest() + added output to benchmarks
  benchmarks/2DParticleRect/2DParticleRect.cpp
  benchmarks/2DParticleRect/TestExecution.csv
  src/MolSim.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
Labels: simulation, particles

Rename README and review report
  sheet03/submission/README.md
  sheet03/submission/ReadMe.md
Labels: none

Added commit hash to report
  sheet03/submission/README.md
Labels: none

presentation
  sheet03/submission/PRESENTATION_TEMPLATE.pptx
  sheet03/submission/presentation.pdf
Labels: none

minor report adjustments
  sheet03/submission/README.md
Labels: none

Update plots, Review presentation, Adjust report, Add benchmark with big cutoff radius
  sheet03/data/DanielExecutionLaptop.xlsx
  sheet03/data/TobiasExecutionPC - BigCutoff.xlsx
  sheet03/data/TobiasExecutionPC.xlsx
  sheet03/submission/BenchmarkAMD.png
  sheet03/submission/BenchmarkAMDWSL.png
  sheet03/submission/BenchmarkIntel.png
  sheet03/submission/BenchmarkIntelUbuntu.png
  sheet03/submission/BenchmarkIntelWSL.png
  sheet03/submission/BenchmarkIntelWSLBigCutoff.png
  sheet03/submission/README.md
  sheet03/submission/presentation.pdf
Labels: none

begin checkpoint work, create checkpoint output
  src/io/input/xml/XMLFileReader.cpp
  src/io/input/xml/XMLFileReader.h
  src/io/input/xml/parser/XSDToInternalTypeAdapter.cpp
  src/io/input/xml/parser/XSDToInternalTypeAdapter.h
  src/io/input/xml/parser/simulation_schema.cpp
  src/io/input/xml/parser/simulation_schema.h
  src/io/input/xml/parser/simulation_schema.xsd
  src/io/output/checkpoint/CheckPointWriter.cpp
  src/io/output/checkpoint/CheckPointWriter.h
  src/io/output/checkpoint/parser/InternalToXSDTypeAdapter.cpp
  src/io/output/checkpoint/parser/InternalToXSDTypeAdapter.h
  src/io/output/checkpoint/parser/checkpoint_schema.cpp
  src/io/output/checkpoint/parser/checkpoint_schema.h
  src/io/output/checkpoint/parser/checkpoint_schema.xsd
  src/io/output/checkpoint/parser/create_xsd_mapping.sh
Labels: io

Format
  src/io/input/xml/parser/simulation_schema.cpp
  src/io/input/xml/parser/simulation_schema.h
  src/simulation/Simulation.h
Labels: io, simulation

Small adjustment
  src/simulation/Simulation.h
  src/simulation/SimulationParams.h
Labels: simulation

Fix docs
  src/physics/thermostats/Thermostat.h
Labels: physics

Fix const problem and compiler warnings
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  tests/physics/thermostats/TestThermostat.cpp
Labels: tests, simulation

Moved LogType enum inside the logger class
  src/io/logger/Logger.h
Labels: io

Fix logger initialization in CLIParser.cpp
  src/io/cli/CLIParser.cpp
Labels: io

Fix off-by-one error
  src/simulation/Simulation.cpp
Labels: simulation

refactor file_input to use std::vector particles
  src/MolSim.cpp
  src/io/cli/CLIParser.cpp
  src/io/cli/CLIParser.h
  src/io/input/FileInputHandler.cpp
  src/io/input/FileInputHandler.h
  src/io/input/FileReader.h
  src/io/input/chkpt/ChkptPointFileReader.cpp
  src/io/input/chkpt/ChkptPointFileReader.h
  src/io/input/custom_formats/cub/CubFileReader.cpp
  src/io/input/custom_formats/cub/CubFileReader.h
  src/io/input/custom_formats/ps/PsFileReader.cpp
  src/io/input/custom_formats/ps/PsFileReader.h
  src/io/input/xml/XMLFileReader.cpp
  src/io/input/xml/XMLFileReader.h
  src/particles/spawners/ParticleSpawner.h
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/particles/spawners/cuboid/CuboidSpawner.h
  src/particles/spawners/sphere/SphereSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationOverview.h
  tests/io/filereaders/TestChkptReader.cpp
  tests/io/filereaders/TestCubFileReader.cpp
  tests/io/filereaders/TestXMLReader.cpp
  tests/particles/spawners/TestCuboidSpawner.cpp
  tests/particles/spawners/TestSphereSpawner.cpp
  tests/simulation/TestDirectSumLinkedCellsComparison.cpp
  tests/simulation/TestRunInputFiles.cpp
  tests/simulation/directsum/Test3BodyPeriodicSolutionDS.cpp
  tests/simulation/directsum/TestGravitySimulationDS.cpp
  tests/simulation/directsum/TestLennardJonesSimulationDS.cpp
  tests/simulation/directsum/TestNewtonOptimizationDS.cpp
  tests/simulation/linkedcells/Test3BodyPeriodicSolutionLC.cpp
  tests/simulation/linkedcells/TestGravitySimulationLC.cpp
  tests/simulation/linkedcells/TestLennardJonesSimulationLC.cpp
  tests/simulation/linkedcells/boundaries/TestOutflowBoundary.cpp
  tests/simulation/linkedcells/boundaries/TestReflectiveBoundary.cpp
Labels: tests, io, simulation, particles

remove unecessary imports
  src/io/input/FileReader.h
  src/io/input/chkpt/ChkptPointFileReader.cpp
  src/io/input/chkpt/ChkptPointFileReader.h
  src/io/input/custom_formats/cub/CubFileReader.cpp
  src/io/input/custom_formats/cub/CubFileReader.h
  src/io/input/custom_formats/ps/PsFileReader.cpp
  src/io/input/custom_formats/ps/PsFileReader.h
  src/io/input/xml/XMLFileReader.cpp
  src/io/input/xml/XMLFileReader.h
  src/io/input/xsd_type_adaptors/InternalToXSDTypeAdapter.cpp
  src/io/input/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/output/FileOutputHandler.cpp
  src/io/output/FileWriter.h
  src/io/output/chkpt/CheckPointWriter.cpp
  src/io/output/chkpt/CheckPointWriter.h
  src/io/output/vtk/VTKWriter.cpp
  src/io/output/vtk/VTKWriter.h
  src/io/output/xyz/XYZWriter.cpp
  src/particles/containers/directsum/DirectSumContainer.h
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.h
  src/simulation/Simulation.h
  tests/io/filereaders/TestChkptReader.cpp
  tests/io/filereaders/TestCubFileReader.cpp
  tests/io/filereaders/TestXMLReader.cpp
  tests/particles/TestDirectSumContainer.cpp
  tests/particles/spawners/TestCuboidSpawner.cpp
  tests/particles/spawners/TestSphereSpawner.cpp
  tests/simulation/TestDirectSumLinkedCellsComparison.cpp
  tests/simulation/TestRunInputFiles.cpp
  tests/simulation/directsum/Test3BodyPeriodicSolutionDS.cpp
  tests/simulation/directsum/TestGravitySimulationDS.cpp
  tests/simulation/directsum/TestLennardJonesSimulationDS.cpp
  tests/simulation/linkedcells/Test3BodyPeriodicSolutionLC.cpp
  tests/simulation/linkedcells/TestGravitySimulationLC.cpp
  tests/simulation/linkedcells/TestLennardJonesSimulationLC.cpp
  tests/simulation/linkedcells/boundaries/TestOutflowBoundary.cpp
  tests/simulation/linkedcells/boundaries/TestReflectiveBoundary.cpp
Labels: tests, io, simulation, particles

fix compiler warnings
  tests/io/filereaders/TestChkptReader.cpp
  tests/simulation/TestDirectSumLinkedCellsComparison.cpp
Labels: tests

move schemas to own folder
  Doxyfile
  src/io/cli/CLIParser.h
  src/io/input/FileInputHandler.h
  src/io/input/FileReader.h
  src/io/input/chkpt/ChkptPointFileReader.cpp
  src/io/input/chkpt/ChkptPointFileReader.h
  src/io/input/custom_formats/cub/CubFileReader.h
  src/io/input/custom_formats/ps/PsFileReader.h
  src/io/input/xml/XMLFileReader.cpp
  src/io/input/xml/XMLFileReader.h
  src/io/input/xml/parser/create_xsd_mapping.sh
  src/io/input/xml/parser/simulation_schema.cpp
  src/io/input/xml/parser/simulation_schema.h
  src/io/output/chkpt/CheckPointWriter.cpp
  src/io/output/chkpt/CheckPointWriter.h
  src/io/output/chkpt/parser/checkpoint_schema.cpp
  src/io/output/chkpt/parser/checkpoint_schema.h
  src/io/output/chkpt/parser/create_xsd_mapping.sh
  src/io/output/vtk/VTKWriter.h
  src/io/output/vtk/parser/create_xsd_mapping.sh
  src/io/xml_schemas/checkpoint/checkpoint_schema.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.h
  src/io/xml_schemas/checkpoint/checkpoint_schema.xsd
  src/io/xml_schemas/create_xsd_mapping.sh
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/vtk_file/vtk_file_schema.cpp
  src/io/xml_schemas/vtk_file/vtk_file_schema.h
  src/io/xml_schemas/vtk_file/vtk_file_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/InternalToXSDTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/InternalToXSDTypeAdapter.h
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
Labels: repo, io

Fix for test, rounding errors made it fail
  tests/physics/thermostats/TestThermostat.cpp
Labels: tests

Remove print
  tests/physics/thermostats/TestThermostat.cpp
Labels: tests

improve recursive simulations
  Doxyfile
  input/equilibrate_demo/sub_sim.xml
  src/MolSim.cpp
  src/io/cli/CLIParser.cpp
  src/io/input/FileInputHandler.h
  src/io/input/xml/XMLFileReader.cpp
  src/io/logger/Logger.h
  src/io/output/FileOutputHandler.cpp
  src/io/output/FileOutputHandler.h
  src/io/output/chkpt/CheckPointWriter.h
  src/io/output/vtu/VTUWriter.cpp
  src/io/output/vtu/VTUWriter.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/vtu_file/vtu_file_schema.cpp
  src/io/xml_schemas/vtu_file/vtu_file_schema.h
  src/io/xml_schemas/vtu_file/vtu_file_schema.xsd
  src/physics/ForcePicker.cpp
  src/physics/ForcePicker.h
  src/physics/GravitationalForce.cpp
  src/physics/LennardJonesForce.cpp
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationOverview.cpp
  src/simulation/SimulationOverview.h
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  tests/data/input/RecursiveExample.xml
  tests/data/input/RecursiveExample2.xml
  tests/io/filereaders/TestXMLReader.cpp
  tests/io/filewriters/TestVTKWriter.cpp
Labels: tests, repo, io, simulation, physics

create base path in simulation params, fix bug when multiple recursion levels happen
  src/io/input/FileInputHandler.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/particles/spawners/ParticleSpawner.h
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/particles/spawners/cuboid/CuboidSpawner.h
  src/particles/spawners/sphere/SphereSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.h
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
Labels: io, simulation, particles

Now the thermostat is used to really set the initial temperature instead of direct application of the maxwell boltzmann distribution for initial velocity
  docs/InputFileFormats.md
  input/body_collision.cub
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/particles/spawners/cuboid/CuboidSpawner.h
  src/particles/spawners/sphere/SphereSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.h
Labels: particles

Format
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.cpp
Labels: particles

use names for subsimulations
  input/equilibrate_demo/equilibrated_collision.xml
  input/equilibrate_demo/sub_sim.xml
  input/falling_drop/falling_drop_equilibrated.xml
  input/falling_drop/subsimulations/basin.xml
  input/falling_drop/subsimulations/sphere.xml
  src/io/input/xml/XMLFileReader.cpp
  src/io/input/xml/XMLFileReader.h
  src/io/output/FileOutputHandler.cpp
  src/io/output/FileOutputHandler.h
  src/io/output/chkpt/CheckPointWriter.cpp
  src/io/output/chkpt/CheckPointWriter.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/simulation/Simulation.cpp
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  tests/data/input/ChktpExample.chkpt
  tests/data/input/RecursiveExample.xml
  tests/data/input/RecursiveExample2.xml
  tests/io/filereaders/TestXMLReader.cpp
  tests/io/filewriters/TestVTKWriter.cpp
  tests/io/filewriters/TestXYZWriter.cpp
  tests/particles/TestLinkedCellsContainer.cpp
  tests/simulation/SimulationUtils.h
  tests/simulation/TestRunInputFiles.cpp
Labels: tests, io, simulation, particles

.github/labeler.yml:

tests:
  - tests/**/*

dependencies:
  - libs/**/*

repo:
  - .github/**/*
  - '*'

io:
  - src/io/**/*

simulation:
  - src/simulation/**/*

physics:
  - src/physics/**/*

particles:
  - src/particles/**/*
