Repository ManuelLerchner/MolSim-WS23-24, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, dependencies, repo, io, simulation, physics, particles

Minor Adjustment to RDF Interceptor and Simulation files of "Crystallization of Argon"
  input/crystallization_argon/cooling_argon.xml
  input/crystallization_argon/supercooling_argon.xml
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.cpp
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.h
Labels: simulation

Measurements and Graphs for "Crystallization of Argon"; Video for Task 1 Membrane
  sheet05/data/argon_diffusion.xlsx
  sheet05/data/argon_radial_dist.xlsx
  sheet05/data/argon_temp.xlsx
  sheet05/data/cooling/diffusion_function.csv
  sheet05/data/cooling/performance_data_10.01.2024-15:24:02.csv
  sheet05/data/cooling/radial_distribution_function.csv
  sheet05/data/cooling/temperature.csv
  sheet05/data/membrane.pvsm
  sheet05/data/super_cooling/diffusion_function.csv
  sheet05/data/super_cooling/performance_data_10.01.2024-15:25:57.csv
  sheet05/data/super_cooling/radial_distribution_function.csv
  sheet05/data/super_cooling/temperature.csv
  sheet05/submission/ArgonDiffusion.png
  sheet05/submission/ArgonRDF_SlowCooling.png
  sheet05/submission/ArgonRDF_SuperCooling.png
  sheet05/submission/ArgonTemperature.png
Labels: none

Fix SegFault
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.cpp
Labels: simulation

profiles and job output
  contest1/Contest1_job_2ndOptimization.txt
  contest1/README.md
  sheet04/data/Contest1_job_nooptimization.txt
  sheet04/data/Contest1_job_optimized.txt
  sheet04/data/Task4_job_output.txt
  sheet04/data/profile_contest1.txt
  sheet04/data/profile_task4.txt
  sheet04/submission/Contest1_job_nooptimization.txt
  sheet04/submission/Contest1_job_optimized.txt
  sheet04/submission/Task4_job_output.txt
  sheet04/submission/profile_contest1.txt
  sheet04/submission/profile_task4.txt
Labels: none

contest 'report'
  contest1/README.md
Labels: none

contest 'report' fertig
  contest1/Contest1_job_2ndOptimization.txt
  contest1/Contest_Speedup.pdf
  contest1/README.md
Labels: none

update revision commit
  contest1/README.md
Labels: none

correct the revision commit once again
  contest1/README.md
Labels: none

update contest report
  contest1/README.md
  sheet04/data/profile_contest1_nooptimization.txt
Labels: none

Preliminary Submission
  contest1/README.md
Labels: none

perf data added
  contest1/perf_report_finalOptimization.txt
Labels: none

Update
  contest1/PerfAfterFastMathOptimization.jpg
  contest1/README.md
Labels: none

Update
  contest1/PerfAfterFastMathOptimization.jpg
  contest1/README.md
Labels: none

Smaller adjustments
  CMakeLists.txt
  benchmarks/contest1.cpp
  input/membrane/membrane_particle_deletion.xml
  input/membrane/membrane_periodic.xml
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/spawners/soft_body_cuboid/SoftBodyCuboidSpawner.h
Labels: repo, particles

Membranes over periodic boundaries, Fixed mistake in diffusion calculation
  input/membrane/membrane_periodic.xml
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/vtu/VTUWriter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/boundaries/PeriodicBoundaryType.cpp
  src/physics/simpleforces/HarmonicForce.cpp
  src/physics/simpleforces/HarmonicForce.h
  src/simulation/interceptors/diffusion_function/DiffusionFunctionInterceptor.cpp
Labels: io, simulation, physics, particles

new diffusion data, new membrane video
  sheet05/data/argon_diffusion.xlsx
  sheet05/data/cooling/diffusion_function.csv
  sheet05/data/membrane_periodic.pvsm
  sheet05/data/super_cooling/diffusion_function.csv
  sheet05/submission/ArgonDiffusion.png
Labels: none

Add fast math optimization and OpenMP support
  CMakeLists.txt
  src/CMakeLists.txt
Labels: repo

Update CMakeLists.txt and fix loop index type in TestSoftBodySpawner.cpp
  CMakeLists.txt
  tests/particles/spawners/TestSoftBodySpawner.cpp
Labels: tests, repo

Add -ffast-math flag to CMAKE_CXX_FLAGS_RELEASE
  CMakeLists.txt
Labels: repo

Update CMake to use gcc-13 and g++-13
  .github/workflows/tests.yml
Labels: repo

Update CMake to use gcc-13 and g++-13
  .github/workflows/tests.yml
Labels: repo

Added error message when using softbody cuboids with outflow boundaries
  input/membrane/membrane_cube.xml
  src/io/input/xml/XMLFileReader.cpp
Labels: io

Remove input file
  input/membrane/membrane_particle_deletion.xml
Labels: none

Fix benchmarks
  benchmarks/2D_task4.cpp
  benchmarks/contest1.cpp
Labels: none

Some nano-flow measurements and videos
  sheet05/data/velocity_profile_x_axis_20_bins_obstacle.xlsx
  sheet05/data/velocity_profile_x_axis_35_bins_cuboid_obstacle.xlsx
  sheet05/data/velocity_profile_x_axis_50_bins.xlsx
  sheet05/submission/Velocity_Profile_Cuboid_Obstacle.png
  sheet05/submission/Velocity_Profile_No_Obstacle.png
  sheet05/submission/Velocity_Profile_Sphere_Obstacle.png
Labels: none

Added small "benchmark" to test for difference with different threadcounts
  benchmarks/Parallel/Parallel.cpp
  benchmarks/Parallel/ParallelBenchmark.xml
  src/integration/methods/VerletFunctor.cpp
  src/particles/containers/directsum/DirectSumContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/utils/ArrayUtils.h
Labels: particles

Added domain splitting for parallelization
  benchmarks/Parallel/Parallel.cpp
  src/integration/methods/VerletFunctor.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
Labels: particles

Newton with parallel cells
  input/fluid_mixing/fluid_mixing_3d.xml
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
Labels: particles

fix clangformat and build
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
Labels: particles

Fix index type in Parallel.cpp
  benchmarks/Parallel/Parallel.cpp
Labels: none

Fix cmake policy for cluster
  cmake/modules/gtest.cmake
  cmake/modules/libxsd.cmake
  cmake/modules/spdlog.cmake
Labels: none

Print used number of omp_max_threads
  src/simulation/SimulationParams.cpp
Labels: simulation

Refactor halo particle deletion
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/boundaries/PeriodicBoundaryType.cpp
  src/particles/containers/linkedcells/boundaries/PeriodicBoundaryType.h
  src/particles/containers/linkedcells/cells/Cell.cpp
  src/particles/containers/linkedcells/cells/Cell.h
Labels: particles

Changes to 3d simulation
  input/fluid_mixing/fluid_mixing_3d_checkpoint.xml
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
Labels: io

format
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
Labels: io

automatically restart simulation from latest checkpoint
  input/fluid_mixing/fluid_mixing_3d_checkpoint.xml
  input/nano_scale_flow/nano_scale_flow.xml
  src/io/input/FileInputHandler.cpp
  src/io/input/InputFormats.cpp
  src/io/input/chkpt/ChkptPointFileReader.cpp
  src/io/input/chkpt/ChkptPointFileReader.h
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/FileOutputHandler.cpp
  src/io/output/chkpt/CheckPointWriter.cpp
  src/io/output/csv/CSVWriter.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.h
  src/io/xml_schemas/checkpoint/checkpoint_schema.xsd
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/simulation/Simulation.cpp
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  tests/data/input/ChktpExample.chkpt
  tests/io/filereaders/TestChkptReader.cpp
  tests/io/filewriters/TestChkptWriter.cpp
Labels: tests, io, simulation

fix wrong reload from checkpoint on input file change
  src/io/input/xml/XMLFileReader.cpp
Labels: io

only load valid checkpoints
  src/io/input/xml/XMLFileReader.cpp
Labels: io

improve speed of checkpoint loading
  src/io/input/xml/XMLFileReader.cpp
Labels: io

fix progress bar
  input/fluid_mixing/fluid_mixing_3d.xml
  src/io/input/chkpt/ChkptPointFileReader.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
Labels: io, simulation

.github/labeler.yml:

tests:
  - tests/**/*

dependencies:
  - libs/**/*

repo:
  - .github/**/*
  - '*'

io:
  - src/io/**/*

simulation:
  - src/simulation/**/*

physics:
  - src/physics/**/*

particles:
  - src/particles/**/*
