Repository ManuelLerchner/MolSim-WS23-24, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, dependencies, repo, io, simulation, physics, particles

.github/labeler.yml:

tests:
  - tests/**/*

dependencies:
  - libs/**/*

repo:
  - .github/**/*
  - '*'

io:
  - src/io/**/*

simulation:
  - src/simulation/**/*

physics:
  - src/physics/**/*

particles:
  - src/particles/**/*

make openmp scheduler dynamic
  src/particles/containers/directsum/DirectSumContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/physics/pairwiseforces/GravitationalForce.cpp
  src/physics/pairwiseforces/GravitationalForce.h
  src/physics/pairwiseforces/LennardJonesForce.cpp
  src/physics/pairwiseforces/LennardJonesForce.h
  src/physics/pairwiseforces/LennardJonesRepulsiveForce.cpp
  src/physics/pairwiseforces/LennardJonesRepulsiveForce.h
  src/physics/pairwiseforces/PairwiseForceSource.h
  src/physics/pairwiseforces/SmoothedLennardJonesForce.cpp
  src/physics/pairwiseforces/SmoothedLennardJonesForce.h
Labels: physics, particles

fix bug in c18 traversal
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
Labels: particles

Added video for big argon simulations
  sheet05/data/RayleighTaylorPerformanceData.xlsx
  sheet05/data/argon_big.pvsm
Labels: none

report first verion
  sheet05/submission/README.md
Labels: none

add intel compiler benchmark results
  sheet05/data/RayleighTaylorPerformanceData.xlsx
  sheet05/submission/Rayleigh_Taylor_3D_MUPs_Comparison.png
  sheet05/submission/Rayleigh_Taylor_3D_MUPs_Comparison_v2.png
  sheet05/submission/Rayleigh_Taylor_3D_Speedup_Comparison.png
  sheet05/submission/Rayleigh_Taylor_3D_Speedup_Comparison_v2.png
  sheet05/submission/Rayleigh_Taylor_3D_Time_Comparison.png
  sheet05/submission/Rayleigh_Taylor_3D_Time_Comparison_v2.png
Labels: none

add special contest2.cpp for easy reproducibility of measurements
  benchmarks/Parallel/Contest2.cpp
  benchmarks/Parallel/ParallelBenchmark.xml
Labels: none

the high reynolds number simulation did not really create a turbulent flow as was expected
  input/nano_scale_flow/nano_scale_flow_higher_reynolds_number.xml
Labels: none

I tried a few other things and it still does not really create turbulent flow
  input/nano_scale_flow/nano_scale_flow_higher_reynolds_number.xml
Labels: none

presentation additions
  sheet05/submission/README.md
Labels: none

add reynolds mp4 to maybe display on github pages
  sheet05/submission/reynolds.mp4
Labels: none

report addition on domain partitioning
  sheet05/submission/README.md
Labels: none

report addition on intel performance
  sheet05/submission/README.md
Labels: none

report addition on contest 2
  sheet05/submission/README.md
Labels: none

report addition
  sheet05/submission/README.md
Labels: none

report addition
  sheet05/submission/README.md
Labels: none

Some adjustments to report
  sheet05/submission/README.md
Labels: none

Update report
  sheet05/submission/README.md
Labels: none

Add direct media links
  html-renderer/render_to_html.py
  sheet05/submission/README.md
Labels: none

Replace spaces with underscores in media_id variable
  html-renderer/render_to_html.py
Labels: none

add tests for statistic interceptors
  tests/interceptors/DiffusionInterceptor.cpp
  tests/interceptors/RadialDistributionFunctionInterceptor.cpp
  tests/interceptors/VelocityProfileInterceptor.cpp
Labels: tests

report addition + presentation
  sheet05/submission/presentation_sheet_5.pdf
Labels: none

clang format
  benchmarks/Parallel/Contest2.cpp
Labels: none

Update measurements, pictures and report
  sheet05/data/BigRayleighTaylorPerformanceData.xlsx
  sheet05/data/Contest1ParallelPerformanceData.xlsx
  sheet05/data/RayleighTaylorPerformanceData.xlsx
  sheet05/submission/README.md
  sheet05/submission/Rayleigh_Taylor_2D_MUPs_Comparison.png
  sheet05/submission/Rayleigh_Taylor_2D_Speedup_Comparison.png
  sheet05/submission/Rayleigh_Taylor_2D_Time_Comparison.png
  sheet05/submission/Rayleigh_Taylor_3D_MUPs_Comparison.png
  sheet05/submission/Rayleigh_Taylor_3D_Speedup_Comparison.png
  sheet05/submission/Rayleigh_Taylor_3D_Time_Comparison.png
Labels: none

presentation with most recent performance data
  sheet05/submission/presentation_sheet_5.pdf
Labels: none

Review presentation
  sheet05/data/BigRayleighTaylorPerformanceData.xlsx
Labels: none

more particles
  input/nano_scale_flow/nano_scale_flow_higher_reynolds_number.xml
Labels: none

Update README.md
  sheet05/submission/README.md
Labels: none

add presentation5 pdf
  sheet05/submission/presentation_sheet_5.pdf
Labels: none
