Repository ManuelLerchner/MolSim-WS23-24, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, dependencies, repo, io, simulation, physics, particles

improve readability
  src/io/input/chkpt/ChkptPointFileReader.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/FileOutputHandler.cpp
Labels: io

add deep recursion example
  input/equilibration/multiple_recursive_levels.xml
  input/equilibration/subsimulations/bottom_left.xml
  input/equilibration/subsimulations/bottom_right.xml
  input/equilibration/subsimulations/center_center.xml
  input/equilibration/subsimulations/right_center.xml
  input/equilibration/subsimulations/top_left.xml
  input/equilibration/subsimulations/top_right.xml
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/FileOutputHandler.h
  src/io/output/chkpt/CheckPointWriter.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/simulation/SimulationParams.h
Labels: io, simulation

remove debug log
  tests/io/filereaders/TestXMLReader.cpp
Labels: tests

clang format, fix compile warning
  docs/InputFileFormats.md
  docs/ParticleContainers.md
  src/MolSim.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/logger/Logger.cpp
  src/io/output/FileOutputHandler.cpp
  src/io/output/FileOutputHandler.h
  src/io/output/FileWriter.h
  src/io/output/chkpt/CheckPointWriter.cpp
  src/io/output/chkpt/CheckPointWriter.h
  src/io/output/vtu/VTUWriter.cpp
  src/io/output/vtu/VTUWriter.h
  src/io/output/xyz/XYZWriter.cpp
  src/io/output/xyz/XYZWriter.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/InternalToXSDTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/InternalToXSDTypeAdapter.h
  src/particles/containers/linkedcells/LinkedCellsContainer.h
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/physics/forces/GravitationalForce.cpp
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  tests/io/filereaders/TestChkptReader.cpp
  tests/io/filereaders/TestCubFileReader.cpp
  tests/io/filereaders/TestXMLReader.cpp
  tests/particles/TestLinkedCellsContainer.cpp
  tests/particles/spawners/TestCuboidSpawner.cpp
  tests/particles/spawners/TestSphereSpawner.cpp
  tests/physics/forces/TestGravitationalForce.cpp
  tests/physics/thermostats/TestThermostat.cpp
  tests/simulation/TestDirectSumLinkedCellsComparison.cpp
  tests/simulation/linkedcells/Test3BodyPeriodicSolutionLC.cpp
Labels: tests, io, simulation, physics, particles

Update src/io/input/FileInputHandler.h
  src/io/input/FileInputHandler.h
Labels: io

Update src/io/output/FileOutputHandler.cpp
  src/io/output/FileOutputHandler.cpp
Labels: io

clean up code, implement suggestions
  .github/workflows/clang-format.yml
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/FileOutputHandler.cpp
  src/io/output/FileOutputHandler.h
  src/io/output/FileWriter.h
  src/io/output/chkpt/CheckPointWriter.cpp
  src/io/output/chkpt/CheckPointWriter.h
  src/io/output/vtu/VTUWriter.cpp
  src/io/output/vtu/VTUWriter.h
  src/io/output/xyz/XYZWriter.cpp
  src/io/output/xyz/XYZWriter.h
  src/particles/containers/ParticleContainer.h
  src/particles/containers/directsum/DirectSumContainer.cpp
  src/particles/containers/directsum/DirectSumContainer.h
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
  src/particles/spawners/ParticleSpawner.h
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/particles/spawners/cuboid/CuboidSpawner.h
  src/particles/spawners/sphere/SphereSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.h
Labels: repo, io, particles

add chkpt writer test
  tests/io/filewriters/TestChkptWriter.cpp
  tests/io/filewriters/TestVTKWriter.cpp
  tests/io/filewriters/TestXYZWriter.cpp
Labels: tests

Update tests/io/filewriters/TestVTKWriter.cpp
  tests/io/filewriters/TestVTKWriter.cpp
Labels: tests

refactor forces declaration
  input/body_collision/body_collision_assignment3.xml
  input/equilibration/multiple_recursive_levels.xml
  input/equilibration/subsimulations/bottom_left.xml
  input/equilibration/subsimulations/bottom_right.xml
  input/equilibration/subsimulations/center_center.xml
  input/equilibration/subsimulations/right_center.xml
  input/equilibration/subsimulations/top_left.xml
  input/equilibration/subsimulations/top_right.xml
  input/falling_drop/falling_drop_assignment3.xml
  input/falling_drop/falling_drop_equilibrated.xml
  input/falling_drop/subsimulations/basin.xml
  input/falling_drop/subsimulations/sphere.xml
  src/MolSim.cpp
  src/io/cli/CLIParser.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
  src/physics/forces/ForcePicker.cpp
  src/physics/forces/GlobalDownwardsGravity.cpp
  src/physics/forces/GlobalDownwardsGravity.h
  src/physics/thermostats/Thermostat.cpp
  src/physics/thermostats/Thermostat.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationOverview.cpp
  src/simulation/SimulationOverview.h
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  tests/data/input/CheckpointLoad.xml
  tests/data/input/RecursiveExample.xml
  tests/data/input/RecursiveExample2.xml
  tests/data/input/test_collision.xml
Labels: tests, io, simulation, physics

Refactor splitString function to use std::string instead of std::string_view
  src/simulation/SimulationParams.cpp
Labels: simulation

change all shared pointers to unique ones
  src/MolSim.cpp
  src/integration/IntegrationFunctor.h
  src/integration/VerletFunctor.cpp
  src/integration/VerletFunctor.h
  src/io/cli/CLIParser.cpp
  src/io/cli/CLIParser.h
  src/io/input/FileInputHandler.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/FileOutputHandler.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
  src/particles/containers/ParticleContainer.h
  src/particles/containers/directsum/DirectSumContainer.cpp
  src/particles/containers/directsum/DirectSumContainer.h
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
  src/physics/forces/ForcePicker.cpp
  src/physics/forces/ForcePicker.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationOverview.h
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  tests/io/filereaders/TestXMLReader.cpp
  tests/io/filewriters/TestChkptWriter.cpp
  tests/io/filewriters/TestVTKWriter.cpp
  tests/io/filewriters/TestXYZWriter.cpp
  tests/simulation/SimulationUtils.h
  tests/simulation/TestDirectSumLinkedCellsComparison.cpp
  tests/simulation/TestRunInputFiles.cpp
  tests/simulation/directsum/Test3BodyPeriodicSolutionDS.cpp
  tests/simulation/directsum/TestGravitySimulationDS.cpp
  tests/simulation/directsum/TestLennardJonesSimulationDS.cpp
  tests/simulation/linkedcells/Test3BodyPeriodicSolutionLC.cpp
  tests/simulation/linkedcells/TestGravitySimulationLC.cpp
  tests/simulation/linkedcells/TestLennardJonesSimulationLC.cpp
  tests/simulation/linkedcells/boundaries/TestOutflowBoundary.cpp
  tests/simulation/linkedcells/boundaries/TestReflectiveBoundary.cpp
Labels: tests, io, simulation, physics, particles

A bit of clang tidy
  src/integration/VerletFunctor.cpp
  src/io/input/chkpt/ChkptPointFileReader.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/vtu/VTUWriter.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/simulation/SimulationParams.cpp
  src/utils/MaxwellBoltzmannDistribution.cpp
  tests/particles/TestDirectSumContainer.cpp
  tests/simulation/TestRunInputFiles.cpp
Labels: tests, io, simulation, particles

fix schema
  input/falling_drop/falling_drop_equilibrated_copy.xml
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
Labels: io

Format
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
Labels: io

Update basin.xml and XMLFileReader.cpp
  input/falling_drop/subsimulations/basin.xml
  src/io/input/xml/XMLFileReader.cpp
Labels: io

Fix negative estimated remaining time in Simulation.cpp and FormatTime.cpp
  src/simulation/Simulation.cpp
  src/utils/FormatTime.cpp
  src/utils/FormatTime.h
Labels: simulation

Some videos for the falling drop scenario
  sheet04/data/FallingDropRealistic.pvsm
Labels: none

Adjustment to falling drop files + format
  input/falling_drop/falling_drop_equilibrated.xml
  input/falling_drop/subsimulations/basin.xml
  input/falling_drop/subsimulations/sphere.xml
  src/utils/FormatTime.h
Labels: none

Added periodic boundaries + tests + changed schema to allow them
  input/periodic_boundaries.xml
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
  tests/particles/TestLinkedCellsContainer.cpp
  tests/simulation/linkedcells/boundaries/TestPeriodicBoundary.cpp
Labels: tests, io, particles

fix docs
  src/particles/containers/linkedcells/LinkedCellsContainer.h
Labels: particles

More tests and make adding of periodic halo particles more readable, tried to remove some particle reference updates
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
  tests/simulation/linkedcells/boundaries/TestPeriodicBoundary.cpp
Labels: tests, particles

Added building of benchmarks to github action; Implemented lennard-jones parameters for individual particles; Removed useless constructor for particles
  .github/workflows/tests.yml
  benchmarks/2DParticleRect/2DParticleRect.cpp
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/physics/pairwiseforces/LennardJonesForce.cpp
  src/physics/pairwiseforces/LennardJonesForce.h
  src/simulation/Simulation.cpp
  tests/particles/TestDirectSumContainer.cpp
  tests/physics/forces/TestLennardJonesForce.cpp
Labels: tests, repo, simulation, physics, particles

add -O3 in cmake file for release build
  CMakeLists.txt
Labels: repo

Implemented lennard-jones parameters for particle spawners, adjusted xml files
  input/equilibration/subsimulations/bottom_left.xml
  input/equilibration/subsimulations/bottom_right.xml
  input/equilibration/subsimulations/center_center.xml
  input/equilibration/subsimulations/right_center.xml
  input/equilibration/subsimulations/top_left.xml
  input/equilibration/subsimulations/top_right.xml
  input/falling_drop/falling_drop_assignment3.xml
  input/falling_drop/falling_drop_equilibrated.xml
  input/falling_drop/falling_drops_periodic.xml
  input/falling_drop/subsimulations/basin.xml
  input/falling_drop/subsimulations/sphere.xml
  input/fluid_mixing/fluid_mixing_full.xml
  input/fluid_mixing/fluid_mixing_short.xml
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/particles/spawners/cuboid/CuboidSpawner.h
  src/particles/spawners/sphere/SphereSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.h
  tests/data/input/CheckpointLoad.xml
  tests/data/input/RecursiveExample.xml
  tests/data/input/RecursiveExample2.xml
  tests/data/input/test_collision.xml
Labels: tests, io, particles

Revert supposed off-by-one error
  src/simulation/Simulation.cpp
Labels: simulation

Small adjustement to ensure complete copying of particles for boundary condition calculations
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
Labels: particles

Fix errors
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
Labels: particles

do feedback
  benchmarks/2DParticleRect/2DParticleRect.cpp
  src/io/cli/CLIParser.cpp
  src/io/input/chkpt/ChkptPointFileReader.cpp
  src/io/input/chkpt/ChkptPointFileReader.h
  src/io/input/xml/XMLFileReader.cpp
  src/io/logger/Logger.cpp
  src/io/logger/Logger.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  tests/io/filewriters/TestChkptWriter.cpp
  tests/io/filewriters/TestVTKWriter.cpp
  tests/io/filewriters/TestXYZWriter.cpp
  tests/particles/TestLinkedCellsContainer.cpp
  tests/simulation/SimulationUtils.h
Labels: tests, io, simulation, particles

add default output format to all files
  input/equilibration/multiple_recursive_levels.xml
  input/equilibration/subsimulations/bottom_left.xml
  input/equilibration/subsimulations/bottom_right.xml
  input/equilibration/subsimulations/center_center.xml
  input/equilibration/subsimulations/right_center.xml
  input/equilibration/subsimulations/top_left.xml
  input/equilibration/subsimulations/top_right.xml
  input/falling_drop/falling_drop_assignment3.xml
  input/falling_drop/falling_drop_equilibrated.xml
  input/falling_drop/falling_drops_periodic.xml
  input/falling_drop/subsimulations/basin.xml
  input/falling_drop/subsimulations/sphere.xml
  input/fluid_mixing/fluid_mixing_full.xml
  input/fluid_mixing/fluid_mixing_short.xml
  input/periodic_boundaries.xml
  src/io/input/chkpt/ChkptPointFileReader.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/logger/Logger.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  tests/data/input/RecursiveExample.xml
  tests/data/input/RecursiveExample2.xml
  tests/data/input/empty.xml
  tests/data/input/test_collision.xml
  tests/io/filewriters/TestVTKWriter.cpp
  tests/simulation/SimulationUtils.h
Labels: tests, io

restore files
  input/body_collision/body_collision_assignment3.xml
Labels: none

Remove all custom file formats (deprecated), remove the corresponding tests, convert some old example input files to xml
  README.md
  docs/InputFileFormats.md
  input/body_collision/body_collision_assignment2.cub
  input/body_collision/body_collision_assignment2.xml
  input/periodic_system/eingabe-figure-8.ps
  input/periodic_system/eingabe-figure-8.xml
  src/io/input/FileInputHandler.cpp
  src/io/input/FileInputHandler.h
  src/io/input/InputFormats.cpp
  src/io/input/custom_formats/FileLineReader.cpp
  src/io/input/custom_formats/FileLineReader.h
  src/io/input/custom_formats/cub/CubFileReader.cpp
  src/io/input/custom_formats/cub/CubFileReader.h
  src/io/input/custom_formats/ps/PsFileReader.cpp
  src/io/input/custom_formats/ps/PsFileReader.h
  tests/data/input/CubExample.cub
  tests/io/filereaders/TestCubFileReader.cpp
Labels: tests, repo, io

Update SimulationOverview class and logging messages
  benchmarks/2DParticleRect/2DParticleRect.cpp
  src/simulation/Simulation.cpp
  src/simulation/SimulationOverview.cpp
  src/simulation/SimulationOverview.h
Labels: simulation

add subfolder for boundaries
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
  src/particles/containers/linkedcells/boundaries/OutflowBoundaryType.cpp
  src/particles/containers/linkedcells/boundaries/OutflowBoundaryType.h
  src/particles/containers/linkedcells/boundaries/PeriodicBoundaryType.cpp
  src/particles/containers/linkedcells/boundaries/PeriodicBoundaryType.h
  src/particles/containers/linkedcells/boundaries/ReflectiveBoundaryType.cpp
  src/particles/containers/linkedcells/boundaries/ReflectiveBoundaryType.h
Labels: particles

add libxerces
  CMakeLists.txt
  cmake/modules/xercesc.cmake
  libs/libxerces-c-dev_3.2.4-2.zip
  src/CMakeLists.txt
Labels: dependencies, repo

only include headers
  CMakeLists.txt
  cmake/modules/program_options.cmake
  cmake/modules/xercesc.cmake
  libs/libxerces-c-dev_3.2.4-2.zip
  libs/program_options.zip
  src/CMakeLists.txt
Labels: dependencies, repo

rewrite simulation to use interceptors
  input/falling_drop/subsimulations/basin.xml
  input/fluid_mixing/fluid_mixing_full.xml
  input/fluid_mixing/fluid_mixing_short.xml
  src/MolSim.cpp
  src/integration/IntegrationMethods.cpp
  src/integration/IntegrationMethods.h
  src/integration/methods/VerletFunctor.cpp
  src/integration/methods/VerletFunctor.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/physics/thermostats/Thermostat.cpp
  src/physics/thermostats/Thermostat.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationOverview.cpp
  src/simulation/SimulationOverview.h
  src/simulation/SimulationParams.cpp
  src/simulation/interceptors/SimulationInterceptor.h
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.h
  src/simulation/interceptors/save_file/SaveFileInterceptor.cpp
  src/simulation/interceptors/save_file/SaveFileInterceptor.h
  src/simulation/interceptors/thermostat/ThermostatInterceptor.cpp
  src/simulation/interceptors/thermostat/ThermostatInterceptor.h
  tests/simulation/TestRunInputFiles.cpp
Labels: tests, io, simulation, physics

create csv writer class
  src/integration/IntegrationMethods.cpp
  src/io/csv/CSVWriter.h
  src/io/input/FileInputHandler.cpp
  src/io/input/chkpt/ChkptPointFileReader.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/logger/Logger.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/physics/thermostats/Thermostat.cpp
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationOverview.cpp
  src/simulation/SimulationParams.cpp
  src/simulation/interceptors/SimulationInterceptor.h
  src/simulation/interceptors/particle_update_counter/ParticleUpdateCounterInterceptor.cpp
  src/simulation/interceptors/particle_update_counter/ParticleUpdateCounterInterceptor.h
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.h
  src/utils/StringUtils.cpp
  src/utils/StringUtils.h
Labels: io, simulation, physics, particles

fix error in expected iterations
  src/simulation/interceptors/SimulationInterceptor.h
  src/simulation/interceptors/particle_update_counter/ParticleUpdateCounterInterceptor.cpp
  src/simulation/interceptors/particle_update_counter/ParticleUpdateCounterInterceptor.h
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.h
  src/simulation/interceptors/save_file/SaveFileInterceptor.cpp
  src/simulation/interceptors/save_file/SaveFileInterceptor.h
  src/simulation/interceptors/thermostat/ThermostatInterceptor.cpp
  src/simulation/interceptors/thermostat/ThermostatInterceptor.h
Labels: simulation

fix doxygen
  src/io/csv/CSVWriter.h
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/simulation/interceptors/SimulationInterceptor.h
Labels: io, simulation, particles

.github/labeler.yml:

tests:
  - tests/**/*

dependencies:
  - libs/**/*

repo:
  - .github/**/*
  - '*'

io:
  - src/io/**/*

simulation:
  - src/simulation/**/*

physics:
  - src/physics/**/*

particles:
  - src/particles/**/*
