Repository ManuelLerchner/MolSim-WS23-24, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, dependencies, repo, io, simulation, physics, particles

Fix include error
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
Labels: simulation

format
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
Labels: simulation

Change time formatting from std::format to fmt::format
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
Labels: simulation

Fix benchmarks
  benchmarks/2DParticleRect/2DParticleRect.cpp
Labels: none

Minor adjustments
  benchmarks/2DParticleRect/2DParticleRect.cpp
  src/io/csv/CSVWriter.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
Labels: io, simulation

make csv writer non templated again
  src/io/csv/CSVWriter.h
  src/simulation/Simulation.cpp
Labels: io, simulation

Add RadialDistributionFunctionInterceptor class
  src/io/csv/CSVWriter.cpp
  src/io/csv/CSVWriter.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.cpp
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.h
Labels: io, simulation

Change to save mp4 in git large file storage
  .gitattributes
Labels: repo

refactor project lib
  src/MolSim.cpp
  src/io/cli/CLIParams.h
  src/io/cli/CLIParser.cpp
  src/io/cli/CLIParser.h
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/FileOutputHandler.cpp
  src/io/output/FileOutputHandler.h
  src/io/output/OutputFormats.cpp
  src/io/output/OutputFormats.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationOverview.cpp
  src/simulation/SimulationOverview.h
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  src/simulation/interceptors/SimulationInterceptor.h
  src/simulation/interceptors/particle_update_counter/ParticleUpdateCounterInterceptor.cpp
  src/simulation/interceptors/particle_update_counter/ParticleUpdateCounterInterceptor.h
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.h
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.cpp
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.h
  src/simulation/interceptors/save_file/SaveFileInterceptor.cpp
  src/simulation/interceptors/save_file/SaveFileInterceptor.h
  src/simulation/interceptors/thermostat/ThermostatInterceptor.cpp
  src/simulation/interceptors/thermostat/ThermostatInterceptor.h
Labels: io, simulation

update gitattributes
  .gitattributes
Labels: repo

Remove git lfg tracking
  .gitattributes
Labels: repo

Revert from lfg since not supported on public forks
  sheet01/submission/halleys_comet_rework.mp4
  sheet01/submission/halleys_comet_worse_timestep.mp4
Labels: none

fix link error
  input/fluid_mixing/fluid_mixing_short.xml
  src/io/output/FileOutputHandler.cpp
  src/io/output/OutputFormats.cpp
  src/io/output/OutputFormats.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/simulation/SimulationParams.cpp
  src/simulation/interceptors/SimulationInterceptor.h
  src/simulation/interceptors/particle_update_counter/ParticleUpdateCounterInterceptor.cpp
  src/simulation/interceptors/particle_update_counter/ParticleUpdateCounterInterceptor.h
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.h
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.cpp
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.h
  src/simulation/interceptors/save_file/SaveFileInterceptor.cpp
  src/simulation/interceptors/save_file/SaveFileInterceptor.h
  src/simulation/interceptors/thermostat/ThermostatInterceptor.cpp
  src/simulation/interceptors/thermostat/ThermostatInterceptor.h
Labels: io, simulation

Fix github workflow
  .github/workflows/deploy-pages.yml
Labels: repo

fix double free
  input/body_collision/body_collision_assignment2.xml
  input/body_collision/body_collision_assignment3.xml
  input/equilibration/multiple_recursive_levels.xml
  input/equilibration/subsimulations/bottom_left.xml
  input/equilibration/subsimulations/bottom_right.xml
  input/equilibration/subsimulations/center_center.xml
  input/equilibration/subsimulations/right_center.xml
  input/equilibration/subsimulations/top_left.xml
  input/equilibration/subsimulations/top_right.xml
  input/falling_drop/falling_drop_assignment3.xml
  input/falling_drop/falling_drop_equilibrated.xml
  input/falling_drop/falling_drops_periodic.xml
  input/falling_drop/subsimulations/basin.xml
  input/falling_drop/subsimulations/sphere.xml
  input/fluid_mixing/fluid_mixing_full.xml
  input/periodic_boundaries.xml
  input/periodic_system/eingabe-figure-8.xml
  src/io/csv/CSVWriter.h
  src/io/input/xml/XMLFileReader.cpp
  src/io/logger/Logger.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
  src/simulation/Simulation.cpp
  src/simulation/SimulationOverview.cpp
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  src/simulation/interceptors/SimulationInterceptor.h
  src/simulation/interceptors/particle_update_counter/ParticleUpdateCounterInterceptor.cpp
  src/simulation/interceptors/particle_update_counter/ParticleUpdateCounterInterceptor.h
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.h
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.cpp
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.h
  src/simulation/interceptors/save_file/SaveFileInterceptor.cpp
  src/simulation/interceptors/save_file/SaveFileInterceptor.h
  src/simulation/interceptors/thermostat/ThermostatInterceptor.cpp
  src/simulation/interceptors/thermostat/ThermostatInterceptor.h
Labels: io, simulation

finish interceptors
  input/body_collision/body_collision_assignment2.xml
  input/body_collision/body_collision_assignment3.xml
  input/equilibration/multiple_recursive_levels.xml
  input/falling_drop/falling_drop_assignment3.xml
  input/falling_drop/falling_drop_equilibrated.xml
  input/falling_drop/falling_drops_periodic.xml
  input/fluid_mixing/fluid_mixing_full.xml
  input/fluid_mixing/fluid_mixing_short.xml
  input/periodic_boundaries.xml
  input/periodic_system/eingabe-figure-8.xml
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/interceptors/frame_writer/FrameWriterInterceptor.cpp
  src/simulation/interceptors/frame_writer/FrameWriterInterceptor.h
  src/simulation/interceptors/particle_update_counter/ParticleUpdateCounterInterceptor.cpp
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.cpp
  src/simulation/interceptors/thermostat/ThermostatInterceptor.cpp
  tests/data/input/CheckpointLoad.xml
  tests/data/input/RecursiveExample.xml
  tests/data/input/RecursiveExample2.xml
  tests/data/input/RecursiveSub.xml
  tests/data/input/empty.xml
  tests/data/input/test_collision.xml
  tests/io/filereaders/TestXMLReader.cpp
  tests/io/filewriters/TestChkptWriter.cpp
  tests/io/filewriters/TestVTKWriter.cpp
  tests/io/filewriters/TestXYZWriter.cpp
  tests/simulation/SimulationUtils.h
  tests/simulation/TestRunInputFiles.cpp
Labels: tests, io, simulation

clang tidy
  src/io/csv/CSVWriter.cpp
  src/io/csv/CSVWriter.h
  src/simulation/interceptors/frame_writer/FrameWriterInterceptor.cpp
  src/simulation/interceptors/particle_update_counter/ParticleUpdateCounterInterceptor.h
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.cpp
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.h
Labels: io, simulation

Update move assignment operator to use noexcept specifier
  src/io/csv/CSVWriter.cpp
Labels: io

Refactor pairwise force sources to use shared pointers
  benchmarks/2DParticleRect/2DParticleRect.cpp
Labels: none

Begin work on harmonic forces. HOW SHOULD WE LINK NEIGHBOUR PARTICLES?!
  src/integration/IntegrationMethods.cpp
  src/integration/IntegrationMethods.h
  src/io/output/xyz/XYZWriter.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/containers/linkedcells/boundaries/OutflowBoundaryType.h
  src/particles/spawners/membrane/MembraneSpawner.cpp
  src/particles/spawners/membrane/MembraneSpawner.h
  src/physics/simpleforces/GlobalDownwardsGravity.cpp
  src/physics/simpleforces/HarmonicForce.cpp
  src/physics/simpleforces/HarmonicForce.h
Labels: io, physics, particles

create demo, rename spawner
  input/membrane/membrane.xml
  input/periodic_boundaries/periodic_boundaries.xml
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/xyz/XYZWriter.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
  src/particles/Particle.h
  src/particles/containers/linkedcells/boundaries/OutflowBoundaryType.h
  src/particles/spawners/soft_body_cuboid/SoftBodyCuboidSpawner.cpp
  src/particles/spawners/soft_body_cuboid/SoftBodyCuboidSpawner.h
Labels: io, particles

remove boost dependency
  .github/actions/install-dependencies/action.yml
  README.md
  src/CMakeLists.txt
  src/io/cli/CLIParser.cpp
Labels: repo, io

Revert "remove boost dependency"
  .github/actions/install-dependencies/action.yml
  README.md
  src/CMakeLists.txt
  src/io/cli/CLIParser.cpp
Labels: repo, io

fix cmake to run on rechnerhalle
  CMakeLists.txt
  cmake/modules/boost_program_options.cmake
  cmake/modules/program_options.cmake
  cmake/modules/xercesc.cmake
  libs/libxerces-c-dev_3.2.4-2.zip
  libs/program_options.zip
  src/CMakeLists.txt
Labels: dependencies, repo

Fix action
  .github/actions/install-dependencies/action.yml
Labels: repo

Try again
  .github/actions/install-dependencies/action.yml
Labels: repo

again
  .github/actions/install-dependencies/action.yml
Labels: repo

test
  .github/actions/install-dependencies/action.yml
  .github/workflows/clang-format.yml
Labels: repo

Final fix
  .github/workflows/deploy-pages.yml
Labels: repo

allow particles to be fixed
  input/nano_scale_flow/nano_scale_flow.xml
  src/integration/methods/VerletFunctor.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.h
  src/io/xml_schemas/checkpoint/checkpoint_schema.xsd
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/InternalToXSDTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/particles/spawners/cuboid/CuboidSpawner.h
  src/particles/spawners/sphere/SphereSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.h
Labels: io, particles

first version of report
  sheet04/submission/README.md
Labels: none

implement better thermostat
  input/falling_drop/subsimulations/basin.xml
  input/fluid_mixing/fluid_mixing_full.xml
  input/fluid_mixing/fluid_mixing_short.xml
  input/nano_scale_flow/nano_scale_flow.xml
  src/io/xml_schemas/checkpoint/checkpoint_schema.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.h
  src/io/xml_schemas/checkpoint/checkpoint_schema.xsd
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
  src/particles/Particle.h
  src/particles/spawners/cuboid/CuboidSpawner.h
  src/particles/spawners/sphere/SphereSpawner.h
  src/physics/thermostats/Thermostat.cpp
  src/physics/thermostats/Thermostat.h
  src/physics/thermostats/absolute_thermostat/AbsoluteThermostat.cpp
  src/physics/thermostats/absolute_thermostat/AbsoluteThermostat.h
  src/physics/thermostats/relative_thermostat/RelativeThermostat.cpp
  src/physics/thermostats/relative_thermostat/RelativeThermostat.h
  src/simulation/interceptors/thermostat/ThermostatInterceptor.cpp
  src/simulation/interceptors/thermostat/ThermostatInterceptor.h
  tests/data/input/ChktpExample.chkpt
  tests/data/input/RecursiveSub.xml
  tests/physics/thermostats/TestThermostat.cpp
Labels: tests, io, simulation, physics, particles

implement velocity interceptor
  input/nano_scale_flow/nano_scale_flow.xml
  src/io/csv/CSVWriter.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/vtu/VTUWriter.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/physics/thermostats/Thermostat.cpp
  src/physics/thermostats/Thermostat.h
  src/simulation/Simulation.h
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.cpp
  src/simulation/interceptors/velocity_profile/VelocityProfileInterceptor.cpp
  src/simulation/interceptors/velocity_profile/VelocityProfileInterceptor.h
Labels: io, simulation, physics, particles

remove unecessary vtu logging
  input/nano_scale_flow/nano_scale_flow.xml
  src/io/output/vtu/VTUWriter.cpp
Labels: io

performance tests
  benchmarks/2DParticleRect/2D_task4.cpp
Labels: none

performance measurements
  benchmarks/2DParticleRect/contest1.cpp
Labels: none

report...
  sheet04/submission/README.md
Labels: none

performance
  benchmarks/2DParticleRect/contest1.cpp
Labels: none

format
  benchmarks/2DParticleRect/2D_task4.cpp
  benchmarks/2DParticleRect/contest1.cpp
Labels: none

performance profile
  benchmarks/profiles/profile_task4.txt
Labels: none

.github/labeler.yml:

tests:
  - tests/**/*

dependencies:
  - libs/**/*

repo:
  - .github/**/*
  - '*'

io:
  - src/io/**/*

simulation:
  - src/simulation/**/*

physics:
  - src/physics/**/*

particles:
  - src/particles/**/*
