Repository ManuelLerchner/MolSim-WS23-24, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, dependencies, repo, io, simulation, physics, particles

Changed from 3 sized gaps between cells to 2 sized ones; Output vtu files now numbered with 8 digits
  src/io/output/vtu/VTUWriter.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
Labels: io, particles

exclude tests from 'make all', checkpoint files are now numbered with 8 digits
  benchmarks/CMakeLists.txt
  src/io/output/chkpt/CheckPointWriter.cpp
  tests/CMakeLists.txt
Labels: tests, io

Add new files for sheet05 submission
  sheet05/submission/nano_Velocity_Profile_Cuboid_Obstacle.png
  sheet05/submission/nano_Velocity_Profile_No_Obstacle.png
  sheet05/submission/nano_Velocity_Profile_Sphere_Obstacle.png
Labels: none

improve speed
  CMakeLists.txt
  benchmarks/Parallel/Parallel.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
  src/particles/containers/linkedcells/cells/Cell.h
  src/physics/pairwiseforces/LennardJonesForce.cpp
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
  src/utils/ArrayUtils.h
  tests/physics/thermostats/TestThermostat.cpp
Labels: tests, repo, simulation, physics, particles

inline getters and setters for more speed
  src/particles/Particle.cpp
  src/particles/Particle.h
Labels: particles

Add vtune_Hotspots_Manuel.png and vtune_Summary_Manuel.png
  sheet05/submission/vtune_Hotspots_Manuel.png
  sheet05/submission/vtune_Summary_Manuel.png
Labels: none

Adjusted benchmark for parallel testing, Minor changes to writing of output files
  benchmarks/Parallel/Parallel.cpp
  benchmarks/Parallel/ParallelBenchmark.xml
  input/fluid_mixing/fluid_mixing_3d.xml
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/FileOutputHandler.cpp
  src/io/output/csv/CSVWriter.cpp
  src/io/output/csv/CSVWriter.h
  src/particles/containers/directsum/DirectSumContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/simulation/SimulationOverview.cpp
  src/simulation/interceptors/diffusion_function/DiffusionFunctionInterceptor.cpp
  src/simulation/interceptors/frame_writer/FrameWriterInterceptor.cpp
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.cpp
  src/simulation/interceptors/temperature_sensor/TemperatureSensorInterceptor.cpp
  src/simulation/interceptors/velocity_profile/VelocityProfileInterceptor.cpp
  src/utils/ArrayUtils.h
  src/utils/MaxwellBoltzmannDistribution.cpp
Labels: io, simulation, particles

create scripts for benchmarking
  scripts/launch_benchmark_jobs.py
  scripts/load_CoolMucModules.sh
Labels: none

Remove unused variable in main function
  benchmarks/Parallel/Parallel.cpp
Labels: none

fix typo
  scripts/launch_benchmark_jobs.py
Labels: none

Update temperature scaling precision in TestThermostat.cpp
  tests/physics/thermostats/TestThermostat.cpp
Labels: tests

fix tests
  tests/physics/thermostats/TestThermostat.cpp
Labels: tests

Add parallel wise locking
  benchmarks/Parallel/Parallel.cpp
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
Labels: particles

rayleigh taylor measurements
  sheet05/data/RayleighTaylorPerformanceData.xlsx
  sheet05/submission/Rayleigh_Taylor_3D_Cluster_Performance.png
Labels: none

Update CuboidSpawner settings in contest1.cpp
  benchmarks/contest1.cpp
Labels: none

Add Contest1ParallelPerformanceData.xlsx and RayleighTaylorPerformanceData.xlsx
  sheet05/data/Contest1ParallelPerformanceData.xlsx
  sheet05/data/RayleighTaylorPerformanceData.xlsx
Labels: none

Update README.md
  README.md
Labels: repo

Made occurences of particle attribute 'locked' and simulation attribute 'third_dimension' use enums instead of bool, to avoid implicit conversion from numerical values
  benchmarks/contest1.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/containers/linkedcells/boundaries/PeriodicBoundaryType.cpp
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/particles/spawners/cuboid/CuboidSpawner.h
  src/particles/spawners/soft_body_cuboid/SoftBodyCuboidSpawner.cpp
  src/particles/spawners/soft_body_cuboid/SoftBodyCuboidSpawner.h
  src/particles/spawners/sphere/SphereSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.h
  src/physics/thermostats/Thermostat.cpp
  src/physics/thermostats/Thermostat.h
  src/physics/thermostats/absolute_thermostat/AbsoluteThermostat.cpp
  src/physics/thermostats/absolute_thermostat/AbsoluteThermostat.h
  src/physics/thermostats/relative_thermostat/RelativeThermostat.cpp
  src/physics/thermostats/relative_thermostat/RelativeThermostat.h
  src/utils/Enums.h
  tests/io/filereaders/TestChkptReader.cpp
  tests/physics/thermostats/TestThermostat.cpp
Labels: tests, io, physics, particles

Add parallelization to applySimpleForces function
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
Labels: particles

Add parallelization for applying simple forces
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
Labels: particles

improve progress bar with MUP/s view
  .github/workflows/tests.yml
  CMakeLists.txt
  input/fluid_mixing/fluid_mixing_3d_3layers.xml
  src/io/logger/Logger.h
  src/io/output/FileOutputHandler.cpp
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.cpp
  src/simulation/interceptors/progress_bar/ProgressBarInterceptor.h
  src/utils/FormatTime.cpp
  src/utils/FormatTime.h
Labels: repo, io, simulation

Remove leak sanitizer flag from CMAKE_CXX_FLAGS
  .github/workflows/tests.yml
Labels: repo

Remove address sanitizer from CMAKE_CXX_FLAGS
  .github/workflows/tests.yml
Labels: repo

add aggressive optimization flags
  CMakeLists.txt
Labels: repo

Fixed missing connections when loading checkpoints
  input/membrane/membrane_periodic.xml
  src/io/xml_schemas/checkpoint/checkpoint_schema.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.h
  src/io/xml_schemas/checkpoint/checkpoint_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/InternalToXSDTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/InternalToXSDTypeAdapter.h
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
  src/particles/Particle.h
  tests/data/input/ChktpExample.chkpt
  tests/io/filereaders/TestChkptReader.cpp
  tests/io/filewriters/TestChkptWriter.cpp
  tests/particles/spawners/TestSoftBodySpawner.cpp
Labels: tests, io, particles

Remove -flto flag from compile options
  CMakeLists.txt
Labels: repo

Rayleigh_Taylor_2D measurements on cluster
  sheet05/data/Contest1ParallelPerformanceData.xlsx
  sheet05/submission/Rayleigh_Taylor_2D_MUPs_Comparison.png
  sheet05/submission/Rayleigh_Taylor_2D_Speedup_Comparison.png
  sheet05/submission/Rayleigh_Taylor_2D_Time_Comparison.png
Labels: none

remove thread sanitizer
  .github/workflows/tests.yml
  src/particles/containers/directsum/DirectSumContainer.cpp
Labels: repo, particles

remove thread saniziter
  .github/workflows/tests.yml
Labels: repo

Fix CMake flags for address and undefined sanitizers
  .github/workflows/tests.yml
Labels: repo

Update CMake flags to include address sanitizer
  .github/workflows/tests.yml
Labels: repo

Performance measurements and plots for Rayleigh-Taylor 3D
  sheet05/data/Contest1ParallelPerformanceData.xlsx
  sheet05/data/RayleighTaylorPerformanceData.xlsx
  sheet05/submission/Rayleigh_Taylor_3D_MUPs_Comparison.png
  sheet05/submission/Rayleigh_Taylor_3D_Speedup_Comparison.png
  sheet05/submission/Rayleigh_Taylor_3D_Time_Comparison.png
Labels: none

Additional data for second parallelization method (only in excel file)
  sheet05/data/RayleighTaylorPerformanceData.xlsx
Labels: none

vtune data for parallelisation v1
  sheet05/submission/vtune_hotspots_summary_Daniel.png
  sheet05/submission/vtune_microarchitecture_analysis_Daniel.webm
  sheet05/submission/vtune_summary_Daniel.png
Labels: none

vtune data for parallelisation v1 Korrektur
  sheet05/submission/vtune_Daniel_v1/HPC_characterisation.png
  sheet05/submission/vtune_Daniel_v1/HPC_characterisation2.png
  sheet05/submission/vtune_Daniel_v1/Hotspots.png
  sheet05/submission/vtune_Daniel_v1/Summary.png
  sheet05/submission/vtune_Daniel_v1/Threading1.png
  sheet05/submission/vtune_Daniel_v1/Threading2_conditional_variable.png
  sheet05/submission/vtune_Daniel_v1/micro_architecture.png
  sheet05/submission/vtune_hotspots_summary_Daniel.png
  sheet05/submission/vtune_microarchitecture_analysis_Daniel.webm
  sheet05/submission/vtune_summary_Daniel.png
Labels: none

vtune data for parallelisation v1 Addition
  sheet05/submission/vtune_Daniel_v1/input_output1.png
  sheet05/submission/vtune_Daniel_v1/input_output2.png
  sheet05/submission/vtune_Daniel_v1/memory_access.png
  sheet05/submission/vtune_Daniel_v1/memory_access2.png
Labels: none

vtune data for parallelization v2
  sheet05/submission/vtune_Daniel_v2/HPC.png
  sheet05/submission/vtune_Daniel_v2/hotspots.png
  sheet05/submission/vtune_Daniel_v2/hotspots2.png
  sheet05/submission/vtune_Daniel_v2/memory_consumption.png
  sheet05/submission/vtune_Daniel_v2/microarchitecture.png
  sheet05/submission/vtune_Daniel_v2/mircoarchitecture2.png
  sheet05/submission/vtune_Daniel_v2/summary.png
  sheet05/submission/vtune_Daniel_v2/threading.png
  sheet05/submission/vtune_Daniel_v2/threading2_with_conditional_variable.png
Labels: none

Fix error
  src/particles/Particle.cpp
Labels: particles

Removed deprecated data, and generated new plots
  sheet05/data/RayleighTaylorPerformanceData.xlsx
  sheet05/data/vtune_Daniel_v1/HPC_characterisation.png
  sheet05/data/vtune_Daniel_v1/HPC_characterisation2.png
  sheet05/data/vtune_Daniel_v1/Hotspots.png
  sheet05/data/vtune_Daniel_v1/Summary.png
  sheet05/data/vtune_Daniel_v1/Threading1.png
  sheet05/data/vtune_Daniel_v1/Threading2_conditional_variable.png
  sheet05/data/vtune_Daniel_v1/input_output1.png
  sheet05/data/vtune_Daniel_v1/input_output2.png
  sheet05/data/vtune_Daniel_v1/memory_access.png
  sheet05/data/vtune_Daniel_v1/memory_access2.png
  sheet05/data/vtune_Daniel_v1/micro_architecture.png
  sheet05/data/vtune_Daniel_v2/HPC.png
  sheet05/data/vtune_Daniel_v2/hotspots.png
  sheet05/data/vtune_Daniel_v2/hotspots2.png
  sheet05/data/vtune_Daniel_v2/memory_consumption.png
  sheet05/data/vtune_Daniel_v2/microarchitecture.png
  sheet05/data/vtune_Daniel_v2/mircoarchitecture2.png
  sheet05/data/vtune_Daniel_v2/summary.png
  sheet05/data/vtune_Daniel_v2/threading.png
  sheet05/data/vtune_Daniel_v2/threading2_with_conditional_variable.png
  sheet05/submission/Rayleigh_Taylor_3D_Cluster_Performance.png
  sheet05/submission/Rayleigh_Taylor_3D_MUPs_Comparison.png
  sheet05/submission/Rayleigh_Taylor_3D_MUPs_Comparison_v2.png
  sheet05/submission/Rayleigh_Taylor_3D_Speedup_Comparison.png
  sheet05/submission/Rayleigh_Taylor_3D_Speedup_Comparison_v2.png
  sheet05/submission/Rayleigh_Taylor_3D_Time_Comparison.png
  sheet05/submission/Rayleigh_Taylor_3D_Time_Comparison_v2.png
  sheet05/submission/VTuneHotspots_Parallelization_V1.png
  sheet05/submission/VTuneHotspots_Parallelization_V2.png
  sheet05/submission/VTune_HPC_characterisation.png
  sheet05/submission/vtune_Hotspots_Manuel.png
  sheet05/submission/vtune_Summary_Manuel.png
Labels: none

Add links to parallelization docs
  docs/Parallelization.md
Labels: none

.github/labeler.yml:

tests:
  - tests/**/*

dependencies:
  - libs/**/*

repo:
  - .github/**/*
  - '*'

io:
  - src/io/**/*

simulation:
  - src/simulation/**/*

physics:
  - src/physics/**/*

particles:
  - src/particles/**/*
