Repository ManuelLerchner/MolSim-WS23-24, pull requests merged in 2023-12, with the labels that each got.

#63 Boundary Conditions
  input/body_collision.xml
  src/MolSim.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/input/xml/parser/XSDTypeAdapter.cpp
  src/io/input/xml/parser/XSDTypeAdapter.h
  src/io/input/xml/parser/simulation_schema.cpp
  src/io/input/xml/parser/simulation_schema.h
  src/io/input/xml/parser/simulation_schema.xsd
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
  src/simulation/SimulationParams.h
  tests/simulation/linkedcells/TestNewtonOptimizationLC.cpp
  tests/simulation/linkedcells/boundaries/TestOutflowBoundary.cpp
  tests/simulation/linkedcells/boundaries/TestReflectiveBoundary.cpp
Labels: tests, io, simulation, particles

#64 51 sheet 3 task 4 simulation of a falling drop wall
  input/body_collision.xml
  input/body_collision_assignment3.xml
  input/falling_drop_assignment3.xml
  src/io/input/xml/XMLFileReader.cpp
  src/io/input/xml/parser/XSDTypeAdapter.cpp
  src/io/input/xml/parser/XSDTypeAdapter.h
  src/io/input/xml/parser/simulation_schema.cpp
  src/io/input/xml/parser/simulation_schema.h
  src/io/input/xml/parser/simulation_schema.xsd
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/particles/spawners/cuboid/CuboidSpawner.h
  src/particles/spawners/sphere/SphereSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.h
  src/utils/MaxwellBoltzmannDistribution.cpp
  tests/data/test_collision.xml
Labels: tests, io, particles

#70 SPDLog: Add possibility to dump logs to file
  src/io/cli/CLIParser.cpp
  src/io/logger/Logger.cpp
  src/io/logger/Logger.h
Labels: io

#71 CSV outputter for benchmarks
  benchmarks/2DParticleRect/2DParticleRect.cpp
  benchmarks/2DParticleRect/TestExecution.csv
  src/MolSim.cpp
  src/io/cli/CLIParser.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
Labels: io, simulation, particles, benchmarks

#72 Implement Thermostats
  benchmarks/2DParticleRect/2DParticleRect.cpp
  docs/InputFileFormats.md
  input/body_collision.cub
  input/body_collision.xml
  input/body_collision_assignment3.xml
  input/falling_drop_assignment3.xml
  src/MolSim.cpp
  src/io/cli/CLIParser.cpp
  src/io/input/custom_formats/cub/CubFileReader.cpp
  src/io/input/custom_formats/ps/PsFileReader.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/input/xml/parser/XSDTypeAdapter.cpp
  src/io/input/xml/parser/XSDTypeAdapter.h
  src/io/input/xml/parser/simulation_schema.cpp
  src/io/input/xml/parser/simulation_schema.h
  src/io/input/xml/parser/simulation_schema.xsd
  src/particles/containers/ParticleContainer.h
  src/particles/containers/directsum/DirectSumContainer.h
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/particles/spawners/cuboid/CuboidSpawner.h
  src/particles/spawners/sphere/SphereSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.h
  src/physics/forces/ForceSource.h
  src/physics/forces/GravitationalForce.cpp
  src/physics/forces/GravitationalForce.h
  src/physics/forces/LennardJonesForce.cpp
  src/physics/forces/LennardJonesForce.h
  src/physics/thermostats/Thermostat.cpp
  src/physics/thermostats/Thermostat.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  tests/data/test_collision.xml
  tests/physics/forces/TestGravitationalForce.cpp
  tests/physics/forces/TestLennardJonesForce.cpp
  tests/physics/thermostats/TestThermostat.cpp
  tests/simulation/SimulationUtils.h
  tests/simulation/TestDirectSumLinkedCellsComparison.cpp
  tests/simulation/TestRunInputFiles.cpp
  tests/simulation/directsum/Test3BodyPeriodicSolutionDS.cpp
  tests/simulation/directsum/TestGravitySimulationDS.cpp
  tests/simulation/directsum/TestLennardJonesSimulationDS.cpp
  tests/simulation/linkedcells/Test3BodyPeriodicSolutionLC.cpp
  tests/simulation/linkedcells/TestGravitySimulationLC.cpp
  tests/simulation/linkedcells/TestLennardJonesSimulationLC.cpp
  tests/simulation/linkedcells/boundaries/TestOutflowBoundary.cpp
  tests/simulation/linkedcells/boundaries/TestReflectiveBoundary.cpp
Labels: tests, io, simulation, physics, particles, benchmarks

#79 66 Missing fix
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
Labels: particles

#80 Refactor `std::string` paths to `std::filepath::path`
  input/equilibration/multiple_recursive_levels.xml
  input/equilibration/subsimulations/bottom_right.xml
  input/equilibration/subsimulations/right_center.xml
  input/equilibration/subsimulations/top_left.xml
  input/falling_drop/falling_drop_equilibrated.xml
  src/io/cli/CLIParser.cpp
  src/io/input/FileInputHandler.cpp
  src/io/input/FileInputHandler.h
  src/io/input/FileReader.h
  src/io/input/chkpt/ChkptPointFileReader.cpp
  src/io/input/chkpt/ChkptPointFileReader.h
  src/io/input/custom_formats/FileLineReader.cpp
  src/io/input/custom_formats/FileLineReader.h
  src/io/input/custom_formats/cub/CubFileReader.cpp
  src/io/input/custom_formats/cub/CubFileReader.h
  src/io/input/custom_formats/ps/PsFileReader.cpp
  src/io/input/custom_formats/ps/PsFileReader.h
  src/io/input/xml/XMLFileReader.cpp
  src/io/input/xml/XMLFileReader.h
  src/io/output/FileOutputHandler.cpp
  src/io/output/FileOutputHandler.h
  src/io/output/FileWriter.h
  src/io/output/chkpt/CheckPointWriter.cpp
  src/io/output/chkpt/CheckPointWriter.h
  src/io/output/vtu/VTUWriter.cpp
  src/io/output/vtu/VTUWriter.h
  src/io/output/xyz/XYZWriter.cpp
  src/io/output/xyz/XYZWriter.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.cpp
  src/io/xml_schemas/simulation_input/simulation_input_schema.h
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/simulation/Simulation.cpp
  src/simulation/SimulationOverview.cpp
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  tests/data/FileLoader.h
  tests/data/input/CheckpointLoad.xml
  tests/data/input/RecursiveExample.xml
  tests/data/input/RecursiveExample2.xml
  tests/data/input/RecursiveSub.xml
  tests/data/output/.gitkeep
  tests/io/filereaders/TestXMLReader.cpp
  tests/io/filewriters/TestChkptWriter.cpp
  tests/io/filewriters/TestVTKWriter.cpp
  tests/io/filewriters/TestXYZWriter.cpp
Labels: tests, io, simulation

#82 Remove deprecated custom file format
  README.md
  docs/InputFileFormats.md
  input/body_collision/body_collision_assignment2.cub
  input/body_collision/body_collision_assignment2.xml
  input/periodic_system/eingabe-figure-8.ps
  input/periodic_system/eingabe-figure-8.xml
  src/io/input/FileInputHandler.cpp
  src/io/input/FileInputHandler.h
  src/io/input/InputFormats.cpp
  src/io/input/custom_formats/FileLineReader.cpp
  src/io/input/custom_formats/FileLineReader.h
  src/io/input/custom_formats/cub/CubFileReader.cpp
  src/io/input/custom_formats/cub/CubFileReader.h
  src/io/input/custom_formats/ps/PsFileReader.cpp
  src/io/input/custom_formats/ps/PsFileReader.h
  tests/data/input/CubExample.cub
  tests/io/filereaders/TestCubFileReader.cpp
Labels: repo, tests, io
