Repository ManuelLerchner/MolSim-WS23-24, pull requests merged in 2023-11, with the labels that each got.

#32 Fixed problem with force sources interface as well as integration method selection
  src/MolSim.cpp
  src/integration/IntegrationFunctor.h
  src/integration/VerletFunctor.cpp
  src/integration/VerletFunctor.h
  src/physics/ForceSource.h
  src/physics/GravitationalForce.cpp
  src/physics/GravitationalForce.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/types/ParticleContainer.cpp
  src/types/ParticleContainer.h
Labels: bug, documentation

#34 Sync from upstream Repo [.gitignore]
  .gitignore
Labels: repo

#36 Refactor build and test workflows, Prepare CMakelists for Unit Tests
  .github/actions/install-dependencies/action.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-project-test-project.yml
  .github/workflows/build-project.yml
  .github/workflows/clang-format.yml
  .github/workflows/codeql.yml
  .github/workflows/pullrequest-auto-asign.yml
  CMakeLists.txt
  README.md
  cmake/modules/doxygen.cmake
  src/CMakeLists.txt
  src/io/input/FileReader.cpp
  src/types/ParticleContainer.cpp
  src/types/ParticleContainer.h
  tests/CMakeLists.txt
  tests/TestParticleContainer.cpp
Labels: repo, tests

#35 Added the possibility to select the output directory using a command line option
  .github/workflows/build-docs.yml
  Doxyfile
  README.md
  input/InputFileFormats.md
  input/cuboid-example1.cub
  input/eingabe-figure-8.ps
  input/eingabe-sonne.ps
  src/MolSim.cpp
  src/io/IOWrapper.cpp
  src/io/IOWrapper.h
  src/io/input/CubFileReader.cpp
  src/io/input/CubFileReader.h
  src/io/input/FileReader.h
  src/io/input/PsFileReader.cpp
  src/io/input/PsFileReader.h
  src/io/output/VTKWriter.cpp
  src/io/output/VTKWriter.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/types/ParticleContainer.cpp
  src/types/ParticleContainer.h
Labels: feature, repo

#39 Refactored IOWrapper and Simulation
  src/MolSim.cpp
  src/io/IOWrapper.cpp
  src/io/IOWrapper.h
  src/io/input/FileInputHandler.cpp
  src/io/input/FileInputHandler.h
  src/io/input/PsFileReader.h
  src/io/output/FileOutputHandler.cpp
  src/io/output/FileOutputHandler.h
  src/io/output/XYZWriter.cpp
  src/io/output/XYZWriter.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
Labels: feature

#37 Lennard Jones Forces, Particle Spawners, Physics update
  .github/workflows/build-docs.yml
  CMakeLists.txt
  Doxyfile
  README.md
  input/InputFileFormats.md
  input/body_collision.cub
  input/cuboid-example1.cub
  src/CMakeLists.txt
  src/MolSim.cpp
  src/integration/IntegrationFunctor.h
  src/integration/VerletFunctor.cpp
  src/integration/VerletFunctor.h
  src/io/cli/CLIParser.cpp
  src/io/cli/CLIParser.h
  src/io/input/CubFileReader.cpp
  src/io/input/FileInputHandler.h
  src/io/input/PsFileReader.cpp
  src/io/output/FileOutputHandler.cpp
  src/io/output/FileOutputHandler.h
  src/io/particle_spawners/CuboidSpawner.cpp
  src/io/particle_spawners/CuboidSpawner.h
  src/io/particle_spawners/ParticleSpawner.h
  src/physics/ForceSource.h
  src/physics/GravitationalForce.cpp
  src/physics/GravitationalForce.h
  src/physics/LennardJonesForce.cpp
  src/physics/LennardJonesForce.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/types/ParticleContainer.cpp
  src/types/ParticleContainer.h
  src/utils/ArrayUtils.h
  src/utils/MaxwellBoltzmannDistribution.h
  src/utils/ProgressBar.h
  tests/CMakeLists.txt
  tests/io/spawners/TestCuboidSpawner.cpp
  tests/physics/TestGravitationalForce.cpp
  tests/physics/TestLennardJonesForce.cpp
  tests/simulation/Test3BodyPeriodicSolution.cpp
  tests/simulation/TestGravitySimulation.cpp
  tests/simulation/TestLennardJonesSimulation.cpp
  tests/types/TestParticleContainer.cpp
Labels: feature, repo, tests

#40 Specify video duration and fps in CLI arguments
  src/MolSim.cpp
  src/io/cli/CLIParser.cpp
  src/io/cli/CLIParser.h
  src/io/output/FileOutputHandler.cpp
  src/io/output/FileOutputHandler.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/utils/ProgressBar.h
  tests/simulation/Test3BodyPeriodicSolution.cpp
  tests/simulation/TestGravitySimulation.cpp
  tests/simulation/TestLennardJonesSimulation.cpp
Labels: tests

#42 Implement Feedback from Sheet 1
  src/CMakeLists.txt
  src/MolSim.cpp
  src/integration/IntegrationFunctor.h
  src/integration/VerletFunctor.cpp
  src/integration/VerletFunctor.h
  src/io/cli/CLIParser.cpp
  src/io/input/CubFileReader.cpp
  src/io/input/CubFileReader.h
  src/io/input/FileInputHandler.cpp
  src/io/input/FileInputHandler.h
  src/io/input/FileReader.h
  src/io/input/PsFileReader.cpp
  src/io/input/PsFileReader.h
  src/io/output/FileOutputHandler.cpp
  src/io/output/FileOutputHandler.h
  src/io/output/VTKWriter.h
  src/io/output/XYZWriter.cpp
  src/io/output/XYZWriter.h
  src/io/output/vtk-unstructured.h
  src/io/particle_spawners/CuboidSpawner.cpp
  src/io/particle_spawners/CuboidSpawner.h
  src/io/particle_spawners/ParticleSpawner.h
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/ParticleContainer.cpp
  src/particles/ParticleContainer.h
  src/physics/ForceSource.h
  src/physics/GravitationalForce.cpp
  src/physics/GravitationalForce.h
  src/physics/LennardJonesForce.cpp
  src/physics/LennardJonesForce.h
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/utils/ArrayUtils.h
  src/utils/ProgressBar.h
  tests/CMakeLists.txt
  tests/io/spawners/TestCuboidSpawner.cpp
  tests/simulation/Test3BodyPeriodicSolution.cpp
  tests/simulation/TestGravitySimulation.cpp
  tests/simulation/TestLennardJonesSimulation.cpp
  tests/types/TestParticleContainer.cpp
Labels: tests

#45 Minibugfix in line reader
  src/io/input/FileLineReader.h
Labels: bug

#62 Change libxsd to version 4.2.0, Refactor File Output to match File Input folder structure
  .github/workflows/build-project-test-project.yml
  .gitignore
  Doxyfile
  InputFileFormats.md
  README.md
  cmake/modules/libxsd.cmake
  input/README.md
  input/simulation_schema.xsd
  libs/libxsd-4.2.0.zip
  libs/libxsd.zip
  src/io/input/xml/parser/create_xsd_mapping.sh
  src/io/input/xml/parser/simulation_schema.h
  src/io/input/xml/parser/simulation_schema.xsd
  src/io/output/FileOutputHandler.cpp
  src/io/output/FileOutputHandler.h
  src/io/output/FileWriter.h
  src/io/output/VTKWriter.h
  src/io/output/XYZWriter.cpp
  src/io/output/XYZWriter.h
  src/io/output/vtk/VTKWriter.cpp
  src/io/output/vtk/VTKWriter.h
  src/io/output/vtk/parser/create_xsd_mapping.sh
  src/io/output/vtk/parser/vtk-unstructured.cpp
  src/io/output/vtk/parser/vtk-unstructured.h
  src/io/output/vtk/parser/vtk-unstructured.xsd
  src/io/output/xyz/XYZWriter.cpp
  src/io/output/xyz/XYZWriter.h
  tests/CMakeLists.txt
  tests/data/.gitignore
  tests/data/temp/.gitkeep
  tests/io/FileUtils.cpp
  tests/io/FileUtils.h
  tests/io/filewriters/TestVTKWriter.cpp
  tests/io/filewriters/TestXYZWriter.cpp
Labels: dependencies, repo, tests
