Repository ManuelLerchner/MolSim-WS23-24, pull requests merged in 2024-01, with the labels that each got.

#92 Performance cluster
  benchmarks/2DParticleRect/2DParticleRect.cpp
  benchmarks/2DParticleRect/BenchmarkRectFrame.xml
  benchmarks/2D_task4.cpp
  benchmarks/CMakeLists.txt
  benchmarks/FileLoader.h
  benchmarks/contest1.cpp
  benchmarks/simulation_schema.xsd
  src/MolSim.cpp
  src/io/cli/CLIParams.h
  src/io/cli/CLIParser.cpp
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/csv/CSVWriter.cpp
  src/io/output/csv/CSVWriter.h
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
  src/particles/containers/linkedcells/boundaries/OutflowBoundaryType.cpp
  src/simulation/Simulation.cpp
  src/simulation/Simulation.h
  src/simulation/SimulationOverview.cpp
  src/simulation/SimulationOverview.h
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  src/simulation/interceptors/radial_distribution_function/RadialDistributionFunctionInterceptor.h
  tests/data/FileLoader.h
  tests/simulation/SimulationUtils.h
Labels: tests, io, simulation, particles, benchmarks

#96 Smart reload from checkpoints [Allow iterative simulations]
  input/fluid_mixing/fluid_mixing_3d_checkpoint.xml
  input/nano_scale_flow/nano_scale_flow.xml
  src/io/input/FileInputHandler.cpp
  src/io/input/InputFormats.cpp
  src/io/input/chkpt/ChkptPointFileReader.cpp
  src/io/input/chkpt/ChkptPointFileReader.h
  src/io/input/xml/XMLFileReader.cpp
  src/io/output/FileOutputHandler.cpp
  src/io/output/chkpt/CheckPointWriter.cpp
  src/io/output/csv/CSVWriter.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.h
  src/io/xml_schemas/checkpoint/checkpoint_schema.xsd
  src/io/xml_schemas/simulation_input/simulation_input_schema.xsd
  src/simulation/Simulation.cpp
  src/simulation/SimulationParams.cpp
  src/simulation/SimulationParams.h
  tests/data/input/ChktpExample.chkpt
  tests/io/filereaders/TestChkptReader.cpp
  tests/io/filewriters/TestChkptWriter.cpp
Labels: tests, io, simulation

#99 General Refactoring and Fixes
  benchmarks/contest1.cpp
  input/membrane/membrane_periodic.xml
  src/io/input/xml/XMLFileReader.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.cpp
  src/io/xml_schemas/checkpoint/checkpoint_schema.h
  src/io/xml_schemas/checkpoint/checkpoint_schema.xsd
  src/io/xml_schemas/xsd_type_adaptors/InternalToXSDTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/InternalToXSDTypeAdapter.h
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.cpp
  src/io/xml_schemas/xsd_type_adaptors/XSDToInternalTypeAdapter.h
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/containers/linkedcells/boundaries/PeriodicBoundaryType.cpp
  src/particles/spawners/cuboid/CuboidSpawner.cpp
  src/particles/spawners/cuboid/CuboidSpawner.h
  src/particles/spawners/soft_body_cuboid/SoftBodyCuboidSpawner.cpp
  src/particles/spawners/soft_body_cuboid/SoftBodyCuboidSpawner.h
  src/particles/spawners/sphere/SphereSpawner.cpp
  src/particles/spawners/sphere/SphereSpawner.h
  src/physics/thermostats/Thermostat.cpp
  src/physics/thermostats/Thermostat.h
  src/physics/thermostats/absolute_thermostat/AbsoluteThermostat.cpp
  src/physics/thermostats/absolute_thermostat/AbsoluteThermostat.h
  src/physics/thermostats/relative_thermostat/RelativeThermostat.cpp
  src/physics/thermostats/relative_thermostat/RelativeThermostat.h
  src/utils/Enums.h
  tests/data/input/ChktpExample.chkpt
  tests/io/filereaders/TestChkptReader.cpp
  tests/io/filewriters/TestChkptWriter.cpp
  tests/particles/spawners/TestSoftBodySpawner.cpp
  tests/physics/thermostats/TestThermostat.cpp
Labels: tests, io, physics, particles, benchmarks

#97 Parallelization - Particle Locking
  README.md
  benchmarks/Parallel/Parallel.cpp
  docs/Parallelization.md
  src/CMakeLists.txt
  src/particles/Particle.cpp
  src/particles/Particle.h
  src/particles/containers/directsum/DirectSumContainer.cpp
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
Labels: repo, particles, benchmarks

#100 Fix bug in c18 traversal
  src/particles/containers/linkedcells/LinkedCellsContainer.cpp
Labels: particles
